trigger:
#  branches:
#    include: [ "*" ]
  tags:
    include: [ "*" ]


pool:
  name: 'B64'

steps:
  - script: |
      mvn clean package
      cp target/shipping-1.0.jar shipping.jar
    displayName: Build Java Package

  - script: |
      docker build -t 739561048503.dkr.ecr.us-east-1.amazonaws.com/shipping:latest .
    displayName: Docker Build

  - script: |
      aws ecr get-login-password --region us-east-1 | docker login --shippingname AWS --password-stdin 739561048503.dkr.ecr.us-east-1.amazonaws.com
      docker tag 739561048503.dkr.ecr.us-east-1.amazonaws.com/shipping:latest 739561048503.dkr.ecr.us-east-1.amazonaws.com/shipping:${BUILD_SOURCEBRANCHNAME}
      docker push 739561048503.dkr.ecr.us-east-1.amazonaws.com/shipping:${BUILD_SOURCEBRANCHNAME}
    displayName: Push Docker Image
    condition: contains(variables['Build.SourceBranch'], 'refs/tags')


