component:
  name: shipping
  version: 4.0.0
configMap:
  create: yes
  name: shipping
  data:
    CART_ENDPOINT: "cart:8080"
    DB_HOST: mysql
service:
  containerPort: 8080
resources:
  limits:
    cpu: 1200m
    memory: 3100Mi
  requests:
    cpu: 1000m
    memory: 3100Mi
